@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray: #292d32;
  --light-gray: #dad1bc;
  --light-gray-1: #dad1bce0;

  --dark-bg-color: #292d32;
  --light-bg-color: #dad1bc;

  --primary-bg-color: #ebe2cc;
  --secondary-bg-color: white;

  -webkit-font-smoothing: antialiased;

  --bs-font-sans-serif: Poppins, Helvetica, sans-serif;
  --bs-font-monospace: Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  font-family: var(--bs-font-sans-serif);

  background-color: var(--primary-bg-color);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

[data-color-scheme="dark"] {
  --primary-bg-color: var(--dark-bg-color);
  --secondary-bg-color: #444444;
  color-scheme: dark;
  img {
    opacity: 60%;
  }
  input,
  .magnifyingGlass {
    background-color: #292d32;
    border-color: #444444;
  }
}

* {
  @apply transition-all;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: auto;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: center center;
  position: relative;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
